* {
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
    list-style: none !important;
}
body {
    font-family: "Amiko", sans-serif !important;
    background-color: #E9E4DF ;
}
.nav-bar {
    
}
.navbar-end {
    width: 300px;
}
.menu-burger {
    display: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-right: 10px !important;
}
.navbar-mid {
    width: 800px;
}